---
---

<div id="sobre-mi" class="py-10 mt-10 px-32">
	<span class="text-5xl text-left text-slate-800 font-semibold underline underline-offset-8">Sobre Mí</span>
	<div class="flex justify-between p-20 gap-20">
		<div>
			<p>Image</p>
		</div>
		<div>
			<p>
				Me llamo Rubén Bermúdez Sáez y soy FullStack Developer. 
			</p>
		</div>
	</div>
</div>
