---
import { TechnologieType, type Project } from '@/types'
import SectionContainer from '../ui/SectionContainer.astro'
import SectionTitle from '../ui/SectionTitle.astro'
import ProjectCard from './ProjectCard.astro'

const projects: Project[] = [
  {
    icon: 'bi bi-columns-gap',
    title: 'Visamic',
    description: 'Plataforma IOT para la monitorización de dispositivos de forma remota. Permite la visualización de datos en tiempo real, así como la configuración de los dispositivos y la gestión de usuarios.',
    role: 'Desarrollador Full Stack',
    items: [TechnologieType.NextJS, TechnologieType.JavaScript, TechnologieType.TailwindCSS]
  },
  {
    icon: 'bi bi-pie-chart-fill',
    title: 'TeeChartJS',
    description: 'Librería de gráficos para JavaScript. Incluye más de 30 tipos de gráficos, mapas, gráficos en tiempo real y gráficos 3D.',
    role: 'Migración de la librería de ES5 a ES6 y arreglo de errores',
    items: [TechnologieType.JavaScript]
  },
  {
    icon: 'bi bi-pie-chart-fill',
    title: 'TeeChartJS Demos',
    description: 'Página web con ejemplos de uso de TeeChartJS.',
    role: 'Migración de la página web de ES5 a ES6',
    items: [TechnologieType.Astro, TechnologieType.JavaScript]
  },
  {
    icon: 'bi bi-discord',
    title: 'Glamy',
    description: 'Bot para la aplicación de Discord que permite reproducir música de fuentes como Youtube o Spotify.',
    externalLink: 'https://github.com/rubenglam/musicglam',
    role: 'Proyecto propio',
    items: [TechnologieType.NodeJS, TechnologieType.JavaScript]
  },
  {
    icon: 'bi bi-person-circle',
    title: 'AccountManager',
    description: 'Página web para la gestión de cuentas de los clientes de Steema Software. Permite la creación de cuentas, la asignación de productos y la gestión de usuarios.',
    role: 'Desarrollador FullStack',
    items: [TechnologieType.NextJS, TechnologieType.JavaScript, TechnologieType.TailwindCSS]
  },
  {
    icon: 'bi bi-pie-chart-fill',
    title: 'TeeChart .NET',
    description: 'Librería de gráficos para .NET. Incluye más de 60 tipos de gráficos, mapas, gráficos en tiempo real y gráficos 3D.',
    role: 'Arreglo de errores',
    items: [TechnologieType.NET]
  }
]
---

<section id='projects'>
  <SectionTitle title='Proyectos' />
  <SectionContainer>
    <div class='grid grid-cols-1 xl:grid-cols-2 2xl:grid-cols-3 justify-center gap-8'>
      {projects.map(item => <ProjectCard project={item} />)}
    </div>
  </SectionContainer>
</section>
