/* @tailwind base;
@tailwind components;
@tailwind utilities; */

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: 'Inter', 'system-ui', sans-serif;
}

* {
	box-sizing: content-box;
}

.timeline ul li {
	margin: 0 auto;
}

.timeline ul li::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: black;
}

.timeline ul li div::before {
	content: '';
	position: absolute;
	bottom: 7px;
	width: 0;
	height: 0;
	border-style: solid;
}

.timeline ul li:nth-child(odd) div {
	left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
	left: -15px;
	border-width: 8px 16px 8px 0;
	border-color: transparent black transparent transparent;
}
.timeline ul li:nth-child(even) div {
	left: -439px;
}

.timeline ul li:nth-child(even) div::before {
	right: -15px;
	border-width: 8px 0 8px 16px;
	border-color: transparent transparent transparent black;
}

@keyframes pulse {
	100% {
		opacity: 0;
	}
	50% {
		opacity: 100;
	}
	0% {
		opacity: 0;
	}
}

.animation-pulse-slow {
	animation: pulse 1.5s linear infinite;
}