---
const reactUrl = 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/640px-React-icon.svg.png';
const angularUrl = 'https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png';
const netUrl = 'https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Microsoft_.NET_logo.svg/2048px-Microsoft_.NET_logo.svg.png';
---

<section id="technologies" class="py-10 pb-32 px-40">
	<span class="text-5xl text-left text-slate-800 font-semibold">Technologies</span>
	<div class="flex justify-center mt-20 gap-40">
		<img class="w-40" src={reactUrl} />
		<img class="w-40" src={angularUrl} />
		<img class="w-40" src={netUrl} />
	</div>
</section>
