---
import { Technologie } from './Technologies.astro'

interface Props {
  technologie: Technologie
}

const { technologie } = Astro.props
---

<div class='flex flex-col border shadow-md rounded-lg p-8'>
  <div class='flex flex-col justify-between h-36'>
    <img class='w-12 m-auto align-middle' src={technologie.icon} />
    <p class='text-2xl font-medium my-5 text-center'>{technologie.title}</p>
  </div>
  <div class='flex flex-col text-md'>
    {technologie.description}
  </div>
</div>
