---
import type { Technologie } from '@/types'
import SectionContainer from '../ui/SectionContainer.astro'
import SectionTitle from '../ui/SectionTitle.astro'
import TechnologieCard from './TechnologieCard.astro'

const technologies: Technologie[] = [
{
    icon: 'https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Microsoft_.NET_logo.svg/2048px-Microsoft_.NET_logo.svg.png',
    title: '.NET',
    description: 'Nivel avanzado. Gran experiencia en creación de REST API con ASP.NET Core, Entity Framework, SignalR para la comunicación en tiempo real y Blazor para la creación de aplicaciones web. Desarollo de aplicaciones de escritorio con UWP, WPF y WinForms. Desarrollo de aplicaciones móviles con Xamarin y MAUI.',
    items: ['Blazor', 'ASP.NET Core', 'Xamarin']
  },
  {
    icon: 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/640px-React-icon.svg.png',
    title: 'React',
    description: 'Nivel avanzado, con experiencia en hooks, context API, gestores de estado, enrutado, NextJS y ReactNative.',
  },
  {
    icon: 'https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png',
    title: 'Angular',
    description: 'Nivel básico. Desarrollo de aplicaciones web personales para aprender.',
  },
  {
    icon: 'https://seeklogo.com/images/A/astro-icon-logo-44253BACEE-seeklogo.com.png',
    title: 'Astro',
    description: 'Nivel medio. Desarrollo de este sitio web.',
  }
]
---

<section id='technologies' class='flex flex-col gap-8'>
  <SectionTitle title='Tecnologias' />
  <SectionContainer>
    <div class='grid grid-cols-3 gap-8 justify-center w-full'>
      {technologies.map(item => <TechnologieCard technologie={item} />)}
    </div>
  </SectionContainer>
</section>
