---
const linkedinUrl = 'https://www.linkedin.com/in/ruben-bermudez-saez-75b473232/';
const telegramUrl = 'https://t.me/RubenGlam';
const githubUrl = 'https://github.com/rubenglam';
---

<div class="mt-10 text-3xl text-white flex justify-between w-40">
	<a href={linkedinUrl} target="_blank">
		<i class="bi bi-linkedin text-white"></i>
	</a>
	<a href={githubUrl} target="_blank">
		<i class="bi bi-github text-white"></i>
	</a>
	<a href={telegramUrl} target="_blank">
		<i class="bi bi-telegram text-white"></i>
	</a>
</div>
