---
const linkedinUrl = 'https://linkedin.com/in/rubenglam';
const telegramUrl = 'https://t.me/RubenGlam';
const githubUrl = 'https://github.com/rubenglam';
---

<div class="flex justify-between mt-10">
	<div class="text-3xl text-white flex justify-between w-40">
		<a href={linkedinUrl} target="_blank">
			<i class="bi bi-linkedin text-white transition-colors hover:text-blue-400"></i>
		</a>
		<a href={githubUrl} target="_blank">
			<i class="bi bi-github text-white transition-colors hover:text-blue-400"></i>
		</a>
		<a href={telegramUrl} target="_blank">
			<i class="bi bi-telegram text-white transition-colors hover:text-blue-400"></i>
		</a>
	</div>
	<a class="border border-white px-5 py-2 bg-white text-gray-800 font-medium rounded-sm hover:bg-slate-200 active:bg-slate-300" href="CVRubenBermudezSaez.pdf" download="CVRubenBermudezSaez">
		<i class="bi bi-file-earmark-person"></i>
		<span class="ml-3">Download CV</span>
	</a>
</div>
