---
const title = '<RubenGlam />';
---

<header class="p-6">
	<nav id="navbar">
		<div class="flex justify-between w-full">
			<div>
				<a class="text-white font-bold text-xl tracking-wider hover:underline underline-offset-8" href="/">
					{title}
				</a>
			</div>
			<div class="absolute top-0 right-0 p-5 px-10 flex content-between gap-x-10">
				<ul class="flex flex-row font-semibold gap-8 items-center">
					<li>
						<a class="hover:opacity-80 text-white cursor-pointer" href="#about-me">Sobre mí</a>
					</li>
					<li>
						<a class="hover:opacity-80 text-white cursor-pointer" href="#experience">Experiencia</a>
					</li>
					<li>
						<a class="hover:opacity-80 text-white cursor-pointer" href="#technologies">Technologies</a>
					</li>
				</ul>
				<button id="btnTheme">
					<i class="bi bi-brightness-high-fill text-white text-2xl"></i>
				</button>
			</div>
		</div>
	</nav>
</header>

<script type="module">
	const isDarkMode = document.documentElement.className.includes('dark');
	const btnTheme = document.querySelector('#btnTheme');
	const btnThemeDarkModeClass = 'bi bi-moon-stars-fill';
	const btnThemeLightModeClass = 'bi bi-brightness-high-fill';
	btnTheme.addEventListener('click', function () {
		document.documentElement.classList.toggle('dark');
		btnTheme.children[0].classList.toggle(btnThemeDarkModeClass);
	});
</script>
