---
import HeaderSocials from './HeaderSocials.astro';
---

<div class="flex py-40 px-40">
	<div class="mx-10">
		<p class="text-7xl text-white font-medium">Buenas,</p>
		<h4 class="text-7xl text-white font-medium mt-8">Soy RubenGlam</h4>
		<HeaderSocials />
	</div>
</div>
