---
import HeaderSocials from './HeaderSocials.astro';
---

<div class="flex py-52 px-10">
	<div class="mx-10">
		<p class="text-7xl text-white font-semibold">Ruben Bermudez Saez</p>
		<h4 class="text-2xl text-white opacity-80 mt-8">Ipsum voluptate cupidatat consequat irure minim culpa sunt ea nostrud fugiat pariatur tempor.</h4>
		<HeaderSocials />
	</div>
</div>
