---
---

<div class="bg-red-500 h-40 w-40" style="clip-path: polygon(0% 50%, 10% 20%, 30% 40%);"></div>

<div class="relative w-full overflow-hidden bg-gradient-to-r from-slate-900 to-slate-800" style="clip-path: polygon(100% 100%, 50% 50%, 50% 20%, 20% 40%)">
	<slot />
</div>
