---
import ExperienceListItem from './ExperienceListItem.astro';

export interface Experience {
	time: string;
	title: string;
	description: string;
}

const experienceItems: Experience[] = [
	{
		time: '1934',
		title: 'Steema Software S.L.',
		description: 'Desarrollador web',
	},
	{
		time: '1937',
		title: 'Steema Software S.L.',
		description:
			'Proin quam velit, efficitur vel neque vitae, rhoncus commodo mi. Suspendisse finibus mauris et bibendum molestie. Aenean ex augue, varius et pulvinar in, pretium non nisi.',
	},
	{
		time: '1940',
		title: 'Steema Software S.L.',
		description: 'Proin iaculis, nibh eget efficitur varius, libero tellus porta dolor, at pulvinar tortor ex eget ligula. Integer eu dapibus arcu, sit amet sollicitudin eros.',
	},
	{
		time: '1944',
		title: 'Steema Software S.L.',
		description: 'In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.',
	},
];
---

<section id="experience" class="py-10 px-40">
	<span class="text-5xl text-center text-slate-800 font-semibold">Experiencia</span>
	<div class="timeline">
		<ul>
			{experienceItems.map(item => <ExperienceListItem experience={item} />)}
		</ul>
	</div>
</section>
