---
import ExperienceListItem from './ExperienceListItem.astro';

export interface Experience {
	time: string;
	title: string;
	description: string;
}

const experienceItems: Experience[] = [
	{
		time: '2018-Actualidad',
		title: 'Steema Software S.L.',
		description: 'Desarrollador Web y Mobil tanto backend como frontend',
	},
];
---

<section id="experience" class="py-10 pb-20 px-40">
	<span class="text-5xl text-center text-slate-800 font-semibold">Experiencia</span>
	<div class="timeline">
		<ul>
			{experienceItems.map(item => <ExperienceListItem experience={item} />)}
		</ul>
	</div>
</section>
