---
---

<div id="experience" class="py-10 mt-10 px-32">
	<span class="text-5xl text-center text-slate-800 font-semibold underline underline-offset-8">Experience</span>
	<div class="flex justify-between p-20 gap-20">
		<div>
			<p>Image</p>
		</div>
		<div>
			<p>
				Nisi consequat irure amet consectetur. Aliqua consequat quis et sunt qui labore ut quis nulla aliquip. Nisi eu mollit aliqua laborum ea et. Qui nisi incididunt proident
				ipsum. Adipisicing dolore consectetur culpa voluptate est minim excepteur. Labore proident excepteur eiusmod laborum officia aliquip Lorem proident labore est consectetur
				magna consectetur. Est sunt ut incididunt pariatur incididunt laborum exercitation deserunt culpa laboris nostrud sint sint. Tempor incididunt ut culpa pariatur. Ipsum
				cupidatat nisi voluptate ex ad sint amet enim mollit velit et do labore. Ad enim mollit enim pariatur laboris minim incididunt voluptate enim duis excepteur sit aliqua do.
				Irure et enim id qui proident nulla sint in pariatur ad velit non tempor. Occaecat aliquip cupidatat culpa laboris labore ut laborum in officia excepteur magna minim sit
				proident. Ad reprehenderit enim minim tempor occaecat cupidatat consectetur dolore tempor laborum. Ullamco nulla aliqua irure est laboris qui. Nisi velit officia fugiat et
				fugiat laborum sint amet consectetur id labore voluptate sunt. Ipsum anim culpa aliqua magna incididunt dolor adipisicing cillum ut qui nisi fugiat excepteur. Nostrud
				officia velit reprehenderit ad ex elit tempor anim aliquip et aliqua. Sit nostrud est elit irure eiusmod id tempor proident. Ex exercitation eiusmod reprehenderit veniam
				sunt ullamco in. Quis mollit anim dolor labore cupidatat id est Lorem. Adipisicing exercitation laborum sit officia non officia cupidatat ad. Sint magna ad nostrud
				consequat dolor consectetur. Dolor anim enim consectetur veniam velit. Eu amet reprehenderit excepteur nulla ullamco do adipisicing officia dolor reprehenderit. Anim
				excepteur magna culpa id ullamco quis deserunt. Incididunt exercitation commodo eu ipsum id. Occaecat dolor sit id dolore ad ex aliqua occaecat ea. Quis voluptate laboris
				incididunt qui ipsum aute deserunt laboris sit enim excepteur occaecat proident. Velit eu do ipsum et non velit mollit labore nostrud est commodo voluptate voluptate. Nulla
				id duis mollit sint aute ullamco ad laborum elit est irure. Ipsum ipsum amet et consectetur. Magna in aliquip labore mollit ipsum officia. Do ipsum et tempor do incididunt
				in ad in ea fugiat aute fugiat pariatur magna. Irure nisi est Lorem duis exercitation non veniam fugiat dolore ut veniam anim. Ex eu sint enim ea reprehenderit pariatur
				ipsum veniam irure voluptate quis et. Nulla laborum ullamco consequat amet in id qui pariatur quis veniam velit ex. Nisi excepteur nulla voluptate duis ex mollit amet.
			</p>
		</div>
	</div>
</div>
